#header {
    background-color: #363D43;
    height: 78px ;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#header .logo-font {
    color: white;
    font-size: 36px;
    letter-spacing: 3px;
    position: relative;
    top: -10px;
    left: 15px;
    cursor: default;
    text-decoration: none;
}

#header .header-link {
    position: relative;
    top: -15px;
    left: 40px;
    color: white;
    margin: 0px 10px 0px 10px;
    font-size: 20px;
    transition: 0.3s;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

#header .header-link:hover{
    background-color: #FFFFFF30;
    cursor: pointer;
}

#header #signup {
    position: fixed;
    border-width: 1px;
    border-color: white;
    border: solid;
    padding: 10px;
    border-radius: 7px;
    right: 20px;
    left: auto;
    top: 15px;
    width: 107px;
    text-align: center;
}

#header #signup:hover {
    color: #363D43;
    background-color: white;
}

#header #login {
    position: fixed;
    right: 160px;
    left: auto;
    top: 15px
}

.logo {
    position: relative;
    top: 8px;
    left: 15px;
    height: 60px;
  } 