/* Global CSS */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Flex', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  z-index: 10;
}

.logo-font {
  font-family: 'Roboto Flex';
  font-weight: 100;
}

.btn-fill {
  font-family: 'Roboto Flex';
  font-size: 20px;
  padding: 10px 30px 10px 30px;
  border-radius: 7px;
  border: none;
  color: #363D43;
  transition: 0.3s;
  font-weight: 500;
}

.btn-fill:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.btn-trace {
  font-family: 'Roboto Flex';
  font-size: 20px;
  padding: 10px 30px 10px 30px;
  border-radius: 7px;
  border: solid;
  background-color: transparent;
  border-width: 1px;
  border-color: white;
  color: white;
  transition: 0.3s;
  font-weight: 500;
}

.btn-trace:hover {
  transform: scale(1.02);
  cursor: pointer;
  background-color: #FFFFFF20;
}

.btn-glow{
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.712);
  transition: 0.3s;
}

.btn-glow:hover{
  box-shadow: 0px 0px 23px white;
}


.flex-center-vert{
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fade{
  transition: 0.8s;
  transform: translateY(30px);
  opacity: 0%;
}
.fade.visible{
  transform: translateY(0px);
  opacity: 100%;
}